body{
background-color: blueviolet;
}

h1,h2{
    text-align: left;
    margin-left: 50px;
}

h3{
text-align: center;
}

#boite{
    display: flex;
    flex-direction: row-reverse;
}

#colonneG{
    background-color: aquamarine;
    text-align: left;
    border: solid 2px;
    width: 30%; 
}
#colonneD{
    background-color: aqua;
    border: solid 2px;
    width: 70%;
}

#photoProfile{
    width: 60%;
    height: 30%;
    border-radius: 50%;
}

section{ 
    display:flex;  
}
#auchan{
    display: flex;
    height: 140px;
}

.dateExp{ 
border: solid 2px;
width: 30%;
}

.job{
display: flex;
flex-direction: column;
row-gap: 30px;
width: 70%;
border: solid 2px;

}

